.estadisticasPlantel1 {
    margin-left: 15px;
    margin-bottom: 15px;
}

.subtituloEst1 {
    margin-left: 15px;
}

.subtituloEst2 {
    margin-left: 15px;
}

.estadisticasPadre {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
    -ms-grid-rows: 10% 45% 45%;
    grid-template-rows: 10% 45% 45%;
    grid-template-areas: "subtituloEst1 subtituloEst2"
        "foto1 foto3"
        "foto2 foto4";
}

.estadisticas1 {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    grid-column: 1;
    grid-area: foto1;
    margin-left: 15px;
    margin-top: 10%;
}

.estadisticas2 {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 1;
    grid-column: 1;
    grid-area: foto2;
    margin-left: 15px;
    height: 90%;
    width: 90%;
}

.estadisticasPlantel1 {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    grid-column: 2;
    grid-area: foto3;
    margin-left: 15px;
    padding-left: 15px;
}

.estadisticasPlantel2 {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 2;
    grid-column: 2;
    grid-area: foto4;
    margin-left: 15px;
    padding-left: 15px;
    padding-bottom: 120px;
}

.subtituloEst1 {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
    grid-area: subtituloEst1;
}

.subtituloEst2 {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    grid-column: 2;
    grid-area: subtituloEst2;
}