.tituloFoto {
    margin-left: 15px;
}

.padre {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[4];
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
        "foto1 foto2 foto3"
        "foto4 foto5 foto6"
        "foto7 foto8 foto9"
        "foto10 foto11 foto12";
    gap: 5px;
}

.foto1 {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    grid-column: 1;
    grid-area: foto1;
    max-width: 100%;
    max-height: 100%;
}

.foto2 {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 1;
    grid-column: 1;
    grid-area: foto2;
    max-width: 100%;
    max-height: 100%;
}

.foto3 {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    grid-column: 2;
    grid-area: foto3;
    max-width: 100%;
    max-height: 100%;
}

.foto4 {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 2;
    grid-column: 2;
    grid-area: foto4;
    max-width: 100%;
    max-height: 100%;
}

.foto5 {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    grid-column: 2;
    grid-area: foto5;
    max-width: 100%;
    max-height: 100%;
}

.foto6 {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 3;
    grid-column: 3;
    grid-area: foto6;
    max-width: 100%;
    max-height: 100%;
}

.foto7 {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 1;
    grid-column: 1;
    grid-area: foto7;
    max-width: 100%;
    max-height: 100%;
}

.foto8 {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-row: 3;
    grid-column: 2;
    grid-area: foto8;
    max-width: 100%;
    max-height: 100%;
}

.foto9 {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 3;
    grid-column: 3;
    grid-area: foto9;
    max-width: 100%;
    max-height: 100%;
}

.foto10 {
    -ms-grid-row: 4;
    grid-row: 4;
    -ms-grid-column: 1;
    grid-column: 1;
    grid-area: foto10;
    max-width: 100%;
    max-height: 100%;
}

.foto11 {
    -ms-grid-row: 4;
    grid-row: 4;
    -ms-grid-column: 2;
    grid-column: 2;
    grid-area: foto11;
    max-width: 100%;
    max-height: 100%;
}

.foto12 {
    -ms-grid-row: 4;
    grid-row: 4;
    -ms-grid-column: 3;
    grid-column: 3;
    grid-area: foto12;
    max-width: 100%;
    max-height: 100%;
}

@media only screen and (max-width: 620px) {
    nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .imagenLogo {
        grid-area: logo;
    }

    .secciones {
        grid-area: secciones;
    }

    h1 {
        color: black;
    }

    .padre {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: (1fr)[12];
        grid-template-rows: repeat(12, 1fr);
        grid-template-areas: "foto1"
            "foto2"
            "foto3"
            "foto4"
            "foto5"
            "foto6"
            "foto7"
            "foto8"
            "foto9"
            "foto10"
            "foto11"
            "foto12";
    }

    .foto1 {
        -ms-grid-row: 2;
        grid-row: 2;
        -ms-grid-column: 1;
        grid-column: 1;
        grid-area: foto1;
        max-width: 100%;
        max-height: 100%;
    }

    .foto2 {
        -ms-grid-row: 3;
        grid-row: 3;
        -ms-grid-column: 1;
        grid-column: 1;
        grid-area: foto2;
        max-width: 100%;
        max-height: 100%;
    }

    .foto3 {
        -ms-grid-row: 2;
        grid-row: 2;
        -ms-grid-column: 2;
        grid-column: 2;
        grid-area: foto3;
        max-width: 100%;
        max-height: 100%;
    }

    .foto4 {
        -ms-grid-row: 3;
        grid-row: 3;
        -ms-grid-column: 2;
        grid-column: 2;
        grid-area: foto4;
        max-width: 100%;
        max-height: 100%;
    }

    .foto5 {
        -ms-grid-row: 5;
        grid-row: 5;
        -ms-grid-column: 1;
        grid-column: 1;
        grid-area: foto5;
        max-width: 100%;
        max-height: 100%;
    }

    .foto6 {
        -ms-grid-row: 6;
        grid-row: 6;
        -ms-grid-column: 1;
        grid-column: 1;
        grid-area: foto6;
        max-width: 100%;
        max-height: 100%;
    }

    .foto7 {
        -ms-grid-row: 7;
        grid-row: 7;
        -ms-grid-column: 1;
        grid-column: 1;
        grid-area: foto7;
        max-width: 100%;
        max-height: 100%;
    }

    .foto8 {
        -ms-grid-row: 8;
        grid-row: 8;
        -ms-grid-column: 1;
        grid-column: 1;
        grid-area: foto8;
        max-width: 100%;
        max-height: 100%;
    }

    .foto9 {
        -ms-grid-row: 9;
        grid-row: 9;
        -ms-grid-column: 1;
        grid-column: 1;
        grid-area: foto9;
        max-width: 100%;
        max-height: 100%;
    }

    .foto10 {
        -ms-grid-row: 10;
        grid-row: 10;
        -ms-grid-column: 1;
        grid-column: 1;
        grid-area: foto10;
        max-width: 100%;
        max-height: 100%;
    }

    .foto11 {
        -ms-grid-row: 11;
        grid-row: 11;
        -ms-grid-column: 1;
        grid-column: 1;
        grid-area: foto11;
        max-width: 100%;
        max-height: 100%;
    }

    .foto12 {
        -ms-grid-row: 12;
        grid-row: 12;
        -ms-grid-column: 1;
        grid-column: 1;
        grid-area: foto12;
        max-width: 100%;
        max-height: 100%;
    }
}