.imagenCopa {
    padding-bottom: 10%;
    padding-left: 25%;
    -webkit-transition: .8s;
    transition: .8s;
}

.imagenCopa:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.parrafoHistoria {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 2px;
    padding: 10px;
    color: whitesmoke;
}

.imagenCopa {
    padding-top: 15px;
    width: 135px;
    height: 135px;
}

.padreHistoria {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[7];
    grid-template-columns: repeat(7, 1fr);
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "intercontinental libertadores interamericana supercopa sudamericana recopa suruga ";
    gap: 5px;
    padding-top: 10px;
}

.imagenCopa.intercontinental {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
    grid-area: intercontinental;
}

.imagenCopa.libertadores {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    grid-column: 2;
    grid-area: libertadores;
}

.imagenCopa.interamericana {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 3;
    grid-column: 3;
    grid-area: interamericana;
    width: 150px;
    height: 135px;
}

.imagenCopa.supercopa {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 4;
    grid-column: 4;
    grid-area: supercopa;
}

.imagenCopa.sudamericana {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 5;
    grid-column: 5;
    grid-area: sudamericana;
}

.imagenCopa.recopa {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 6;
    grid-column: 6;
    grid-area: recopa;
}

.imagenCopa.suruga {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 7;
    grid-column: 7;
    grid-area: suruga;
}

/*animaciones copas*/
.cantidad {
    color: white;
    font-size: 50px;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Staatliches', cursive;
}