.card {
    background-color: $rojo;
    border: 5px;
    border-color: $blanco;
    border-style: double;

    p {
        color: $blanco;
    }

    img {
        width: 100%;
        height: 100%;
    }
}
