.containerIndex1 {
padding-bottom: 40px;

    h2 {
        color: white;
  -webkit-text-decoration-line: underline overline;
  text-decoration-line: underline overline;
  -webkit-text-decoration-style: double;
  text-decoration-style: double;
  text-underline-position: under;
  font-size: 30px;
  font-family: 'Staatliches', cursive;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 15px;
  margin-top: 100px;
 }

 img {
     float: right;
     width: 50%;
     height: 50%;
 }
 p {
     color: white;
     padding-left: 15px;
 }
    }

    .containerIndex2 {
        padding-bottom: 40px;
        
            h2 {
                color: white;
          -webkit-text-decoration-line: underline overline;
          text-decoration-line: underline overline;
          -webkit-text-decoration-style: double;
          text-decoration-style: double;
          text-underline-position: under;
          font-size: 30px;
          font-family: 'Staatliches', cursive;
          padding-top: 20px;
          padding-left: 700px;
          padding-bottom: 20px;
          margin-left: 15px;
          margin-top: 100px;
         }
        
         img {
             float: left;
             width: 50%;
             height: 50%;
             padding-left: 15px;
             padding-right: 15px;
         }
         p {
             color: white;
             
         }
            }

.tituloNoticia {
    color: white;
    -webkit-text-decoration-line: underline overline;
    text-decoration-line: underline overline;
    -webkit-text-decoration-style: double;
    text-decoration-style: double;
    text-underline-position: under;
    font-size: 30px;
    font-family: 'Staatliches', cursive;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 15px;
    margin-top: 100px;
   }


.videoKun {
    margin-left: 15px;
}