.card {
    background-color: $rojo;
    border: 5px;
    border-color: $blanco;
    border-style: double;
    width: 100%;
    position: relative;
    
.card::after {
    position: relative;
   padding-bottom: 100%;
}

.card-body {
   position: relative;
    width: 100%;
    height: 100%;
}
    


    p {
        color: $blanco;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        
    }
}

.tablasFechas {

    padding-top: 3em;
    padding-bottom: 3em;
    padding-left: 14em;
    margin-top: 3em;
    margin-bottom: 2em;
    background: radial-gradient(circle, #f00000 0%, #4f0505 100%);



    .zona1 {
        display: inline;
        width: 50%;
        height: 50%;
        table-layout: fixed;
   
    }

    .zona2 {
        display: inline;
        width: 50%;
        height: 50%;
        table-layout: fixed;
       
    }

    .table {

        display: inline;
        /*
        width: 50%;
        height: 50%;
        table-layout: fixed;
        */
        font-style: italic;
        text-align: center;
        color: $blanco;
        
    }

    tbody {
        border: solid 3px $blanco;
    }

}

.partidos {

    margin-left: 1em;

    .fechas {
        display: inline-block;
        margin-left: 1em;
        margin-top: 1em;
        margin-bottom: 1em;
      

    }



    .fecha2 {
        margin-bottom: 2em;
        margin-top: 1em;
        margin-right: 1em;
        display: inline-block;

    }

    .fecha3 {

        margin-bottom: 2em;
        margin-top: 1em;
        margin-right: 1em;
        display: inline-block;

    }



    .fecha4 {

        margin-bottom: 2em;
        margin-top: 1em;
        margin-right: 1em;
        display: inline-block;

    }

    .fecha5 {

        margin-bottom: 2em;
        margin-top: 1em;
        margin-right: 1em;
        display: inline-block;

    }

}


@media only screen and (max-width: 620px) {

    .tablasFechas {
        padding-left: 25px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "zona1"
        "zona2";
    }

    .zona1 {
        grid-area: zona1;
        padding-bottom: 50px;
        width: 50%;
        height: 50%;
        table-layout: fixed;
       
    }

    .zona2 {
        grid-area: zona2;
        width: 50%;
        height: 50%;
        table-layout: fixed;
       
    }

.partidos {
    margin-bottom:0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "fecha2"
    "fecha3"
    "fecha4"
    "fecha5"
    "footer";
}

.fecha2 {
    grid-area: fecha2;
    padding-left: 5px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.fecha3 {
    grid-area: fecha3;
    padding-left: 5px;
    margin-bottom: 0;
}

.fecha4 {
    grid-area: fecha4;
    padding-left: 5px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.fecha5 {
    grid-area: fecha5;
    padding-left: 5px;
    margin-bottom: 0;
    padding-bottom: 0;
}

footer {
    grid-area: footer;
}

 }
