.containerIndex1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "foto texto";
    gap: 5px;
}

.containerIndex2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "texto foto2";
    gap: 5px;
}

.dt {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
    grid-area: foto;
    max-width: 100%;
    max-height: 100%;
    margin-left: 15px;
    margin-top: 20px;
}

.parrafoIndex1 {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
    grid-area: texto;
    color: white;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
    margin-left: 15px;
    padding-left: 20px;
    padding-right: 15px;
}

.parrafoIndex2 {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
    grid-area: texto;
    color: white;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
    margin-left: 15px;
}

.tituloNoticia {
    color: white;
    -webkit-text-decoration-line: underline overline;
    text-decoration-line: underline overline;
    -webkit-text-decoration-style: double;
    text-decoration-style: double;
    text-underline-position: under;
    font-size: 30px;
    font-family: 'Staatliches', cursive;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 15px;
    margin-top: 100px;
}

.jugador {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 1;
    grid-column: 1;
    grid-area: foto2;
    max-width: 100%;
    max-height: 100%;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 23px;
}

.imagenLogo {
    margin-left: center;
    display: inline;
}

.imagenLogo:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.videoKun {
    margin-left: 15px;
}