.card {
    background-color: $rojo;
    border: 5px;
    border-color: $blanco;
    border-style: double;
   
    
    p {
        color: $blanco;
    }

    img {
        width: 100%;
        height: 100%;
    }
}

.tablasFechas {

    margin-top: 90px; 
    margin-right: 60px;



    .table {

        display: inline;
        margin-left: 20px;
        margin-top: 90px;
        margin-bottom: 20px;
        padding-top: 10px;
        width: 50%;
        height: 50%;
        border-collapse: collapse;
        border: 3px solid black;
        table-layout: fixed;
        background-color: $blanco;
        font-style:italic; 
        text-align: center;


    }

.fechas1 
{
    display: inline-block;
    margin-left: 5em;

}

.fechas2 
{
    display: inline-block;
    margin-left: 5em;
}

.fecha2 {
    margin-bottom: 2em;
    margin-top: 5em;
    margin-right: 2em;
    

}

.fecha3 {
   
}

.fecha4 {

    margin-bottom: 2em;
    margin-top: 5em;
    margin-right: 2em;
    
}

.fecha5 {
   
}
    

}

tbody {
    background-color: $blanco;
    border-collapse: collapse;
    border: 3px solid black;
    table-layout: fixed;
    font-style: italic;
    text-align: center;
}